<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whxisoft.mapper.VendorMapper">

    <select id="getByCond" resultType="VendorBasic">
        select * from HT_Vendor
        <where>
            <if test="search!=null and search!=''">
                ${search}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="VendorBasic">
        insert into ht_vendor
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="cVenCode != null">cVenCode,</if>
            <if test="cVenName != null">cVenName,</if>
            <if test="cVenAbbName != null">cVenAbbName,</if>
            <if test="cVCCode != null">cVCCode,</if>
            <if test="cDCCode != null">cDCCode,</if>
            <if test="cTrade != null">cTrade,</if>
            <if test="cVenAddress != null">cVenAddress,</if>
            <if test="cVenPostCode != null">cVenPostCode,</if>
            <if test="cVenRegCode != null">cVenRegCode,</if>
            <if test="cVenBank != null">cVenBank,</if>
            <if test="cVenAccount != null">cVenAccount,</if>
            <if test="dVenDevDate != null">dVenDevDate,</if>
            <if test="cVenLPerson != null">cVenLPerson,</if>
            <if test="cVenPhone != null">cVenPhone,</if>
            <if test="cVenFax != null">cVenFax,</if>
            <if test="cVenEmail != null">cVenEmail,</if>
            <if test="cVenPerson != null">cVenPerson,</if>
            <if test="cVenBP != null">cVenBP,</if>
            <if test="cVenHand != null">cVenHand,</if>
            <if test="cVenPPerson != null">cVenPPerson,</if>
            <if test="iVenDisRate != null">iVenDisRate,</if>
            <if test="iVenCreGrade != null">iVenCreGrade,</if>
            <if test="iVenCreLine != null">iVenCreLine,</if>
            <if test="iVenCreDate != null">iVenCreDate,</if>
            <if test="cVenPayCond != null">cVenPayCond,</if>
            <if test="cVenIAddress != null">cVenIAddress,</if>
            <if test="cVenIType != null">cVenIType,</if>
            <if test="cVenHeadCode != null">cVenHeadCode,</if>
            <if test="cVenWhCode != null">cVenWhCode,</if>
            <if test="cVenDepart != null">cVenDepart,</if>
            <if test="iAPMoney != null">iAPMoney,</if>
            <if test="dLastDate != null">dLastDate,</if>
            <if test="iLastMoney != null">iLastMoney,</if>
            <if test="dLRDate != null">dLRDate,</if>
            <if test="iLRMoney != null">iLRMoney,</if>
            <if test="dEndDate != null">dEndDate,</if>
            <if test="iFrequency != null">iFrequency,</if>
            <if test="bVenTax != null">bVenTax,</if>
            <if test="cVenDefine1 != null">cVenDefine1,</if>
            <if test="cVenDefine2 != null">cVenDefine2,</if>
            <if test="cVenDefine3 != null">cVenDefine3,</if>
            <if test="cCreatePerson != null">cCreatePerson,</if>
            <if test="cModifyPerson != null">cModifyPerson,</if>
            <if test="dModifyDate != null">dModifyDate,</if>
            <if test="cRelCustomer != null">cRelCustomer,</if>
            <if test="iId != null">iId,</if>
            <if test="cBarCode != null">cBarCode,</if>
            <if test="cVenDefine4 != null">cVenDefine4,</if>
            <if test="cVenDefine5 != null">cVenDefine5,</if>
            <if test="cVenDefine6 != null">cVenDefine6,</if>
            <if test="cVenDefine7 != null">cVenDefine7,</if>
            <if test="cVenDefine8 != null">cVenDefine8,</if>
            <if test="cVenDefine9 != null">cVenDefine9,</if>
            <if test="cVenDefine10 != null">cVenDefine10,</if>
            <if test="cVenDefine11 != null">cVenDefine11,</if>
            <if test="cVenDefine12 != null">cVenDefine12,</if>
            <if test="cVenDefine13 != null">cVenDefine13,</if>
            <if test="cVenDefine14 != null">cVenDefine14,</if>
            <if test="cVenDefine15 != null">cVenDefine15,</if>
            <if test="cVenDefine16 != null">cVenDefine16,</if>
            <if test="fRegistFund != null">fRegistFund,</if>
            <if test="iEmployeeNum != null">iEmployeeNum,</if>
            <if test="iGradeABC != null">iGradeABC,</if>
            <if test="cMemo != null">cMemo,</if>
            <if test="bLicenceDate != null">bLicenceDate,</if>
            <if test="dLicenceSDate != null">dLicenceSDate,</if>
            <if test="dLicenceEDate != null">dLicenceEDate,</if>
            <if test="iLicenceADays != null">iLicenceADays,</if>
            <if test="bBusinessDate != null">bBusinessDate,</if>
            <if test="dBusinessSDate != null">dBusinessSDate,</if>
            <if test="dBusinessEDate != null">dBusinessEDate,</if>
            <if test="iBusinessADays != null">iBusinessADays,</if>
            <if test="bProxyDate != null">bProxyDate,</if>
            <if test="dProxySDate != null">dProxySDate,</if>
            <if test="dProxyEDate != null">dProxyEDate,</if>
            <if test="iProxyADays != null">iProxyADays,</if>
            <if test="bPassGMP != null">bPassGMP,</if>
            <if test="bVenCargo != null">bVenCargo,</if>
            <if test="bProxyForeign != null">bProxyForeign,</if>
            <if test="bVenService != null">bVenService,</if>
            <if test="cVenTradeCCode != null">cVenTradeCCode,</if>
            <if test="cVenBankCode != null">cVenBankCode,</if>
            <if test="cVenExch_name != null">cVenExch_name,</if>
            <if test="iVenGSPType != null">iVenGSPType,</if>
            <if test="iVenGSPAuth != null">iVenGSPAuth,</if>
            <if test="cVenGSPAuthNo != null">cVenGSPAuthNo,</if>
            <if test="cVenBusinessNo != null">cVenBusinessNo,</if>
            <if test="cVenLicenceNo != null">cVenLicenceNo,</if>
            <if test="bVenOverseas != null">bVenOverseas,</if>
            <if test="bVenAccPeriodMng != null">bVenAccPeriodMng,</if>
            <if test="cVenPUOMProtocol != null">cVenPUOMProtocol,</if>
            <if test="cVenOtherProtocol != null">cVenOtherProtocol,</if>
            <if test="cVenCountryCode != null">cVenCountryCode,</if>
            <if test="cVenEnName != null">cVenEnName,</if>
            <if test="cVenEnAddr1 != null">cVenEnAddr1,</if>
            <if test="cVenEnAddr2 != null">cVenEnAddr2,</if>
            <if test="cVenEnAddr3 != null">cVenEnAddr3,</if>
            <if test="cVenEnAddr4 != null">cVenEnAddr4,</if>
            <if test="cVenPortCode != null">cVenPortCode,</if>
            <if test="cVenPrimaryVen != null">cVenPrimaryVen,</if>
            <if test="fVenCommisionRate != null">fVenCommisionRate,</if>
            <if test="fVenInsueRate != null">fVenInsueRate,</if>
            <if test="bVenHomeBranch != null">bVenHomeBranch,</if>
            <if test="cVenBranchAddr != null">cVenBranchAddr,</if>
            <if test="cVenBranchPhone != null">cVenBranchPhone,</if>
            <if test="cVenBranchPerson != null">cVenBranchPerson,</if>
            <if test="cVenSSCode != null">cVenSSCode,</if>
            <if test="cOMWhCode != null">cOMWhCode,</if>
            <if test="cVenCMProtocol != null">cVenCMProtocol,</if>
            <if test="cVenIMProtocol != null">cVenIMProtocol,</if>
            <if test="iVenTaxRate != null">iVenTaxRate,</if>
            <if test="dVenCreateDatetime != null">dVenCreateDatetime,</if>
            <if test="cVenMnemCode != null">cVenMnemCode,</if>
            cVenContactCode,
            <if test="cvenbankall != null">cvenbankall,</if>
            <if test="DR != null">DR,</if>
            <if test="TS != null">TS,</if>
            <if test="HTDEF1 != null">HTDEF1,</if>
            <if test="HTDEF2 != null">HTDEF2,</if>
            <if test="HTDEF3 != null">HTDEF3,</if>
            <if test="HTDEF4 != null">HTDEF4,</if>
            <if test="HTDEF5 != null">HTDEF5,</if>
            <if test="HTDEF6 != null">HTDEF6,</if>
            <if test="HTDEF7 != null">HTDEF7,</if>
            <if test="HTDEF8 != null">HTDEF8,</if>
            <if test="HTDEF9 != null">HTDEF9,</if>
            <if test="HTDEF10 != null">HTDEF10,</if>
            <if test="HTDEF11 != null">HTDEF11,</if>
            <if test="HTDEF12 != null">HTDEF12,</if>
            <if test="HTDEF13 != null">HTDEF13,</if>
            <if test="HTDEF14 != null">HTDEF14,</if>
            <if test="HTDEF15 != null">HTDEF15,</if>
            <if test="HTDEF16 != null">HTDEF16,</if>
            <if test="HTDEF17 != null">HTDEF17,</if>
            <if test="HTDEF18 != null">HTDEF18,</if>
            <if test="HTDEF19 != null">HTDEF19,</if>
            <if test="HTDEF20 != null">HTDEF20,</if>
        </trim>
        values
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="cVenCode != null">#{cVenCode},</if>
            <if test="cVenName != null">#{cVenName},</if>
            <if test="cVenAbbName != null">#{cVenAbbName},</if>
            <if test="cVCCode != null">#{cVCCode},</if>
            <if test="cDCCode != null">#{cDCCode},</if>
            <if test="cTrade != null">#{cTrade},</if>
            <if test="cVenAddress != null">#{cVenAddress},</if>
            <if test="cVenPostCode != null">#{cVenPostCode},</if>
            <if test="cVenRegCode != null">#{cVenRegCode},</if>
            <if test="cVenBank != null">#{cVenBank},</if>
            <if test="cVenAccount != null">#{cVenAccount},</if>
            <if test="dVenDevDate != null">#{dVenDevDate},</if>
            <if test="cVenLPerson != null">#{cVenLPerson},</if>
            <if test="cVenPhone != null">#{cVenPhone},</if>
            <if test="cVenFax != null">#{cVenFax},</if>
            <if test="cVenEmail != null">#{cVenEmail},</if>
            <if test="cVenPerson != null">#{cVenPerson},</if>
            <if test="cVenBP != null">#{cVenBP},</if>
            <if test="cVenHand != null">#{cVenHand},</if>
            <if test="cVenPPerson != null">#{cVenPPerson},</if>
            <if test="iVenDisRate != null">#{iVenDisRate},</if>
            <if test="iVenCreGrade != null">#{iVenCreGrade},</if>
            <if test="iVenCreLine != null">#{iVenCreLine},</if>
            <if test="iVenCreDate != null">#{iVenCreDate},</if>
            <if test="cVenPayCond != null">#{cVenPayCond},</if>
            <if test="cVenIAddress != null">#{cVenIAddress},</if>
            <if test="cVenIType != null">#{cVenIType},</if>
            <if test="cVenHeadCode != null">#{cVenHeadCode},</if>
            <if test="cVenWhCode != null">#{cVenWhCode},</if>
            <if test="cVenDepart != null">#{cVenDepart},</if>
            <if test="iAPMoney != null">#{iAPMoney},</if>
            <if test="dLastDate != null">#{dLastDate},</if>
            <if test="iLastMoney != null">#{iLastMoney},</if>
            <if test="dLRDate != null">#{dLRDate},</if>
            <if test="iLRMoney != null">#{iLRMoney},</if>
            <if test="dEndDate != null">#{dEndDate},</if>
            <if test="iFrequency != null">#{iFrequency},</if>
            <if test="bVenTax != null">#{bVenTax},</if>
            <if test="cVenDefine1 != null">#{cVenDefine1},</if>
            <if test="cVenDefine2 != null">#{cVenDefine2},</if>
            <if test="cVenDefine3 != null">#{cVenDefine3},</if>
            <if test="cCreatePerson != null">#{cCreatePerson},</if>
            <if test="cModifyPerson != null">#{cModifyPerson},</if>
            <if test="dModifyDate != null">#{dModifyDate},</if>
            <if test="cRelCustomer != null">#{cRelCustomer},</if>
            <if test="iId != null">#{iId},</if>
            <if test="cBarCode != null">#{cBarCode},</if>
            <if test="cVenDefine4 != null">#{cVenDefine4},</if>
            <if test="cVenDefine5 != null">#{cVenDefine5},</if>
            <if test="cVenDefine6 != null">#{cVenDefine6},</if>
            <if test="cVenDefine7 != null">#{cVenDefine7},</if>
            <if test="cVenDefine8 != null">#{cVenDefine8},</if>
            <if test="cVenDefine9 != null">#{cVenDefine9},</if>
            <if test="cVenDefine10 != null">#{cVenDefine10},</if>
            <if test="cVenDefine11 != null">#{cVenDefine11},</if>
            <if test="cVenDefine12 != null">#{cVenDefine12},</if>
            <if test="cVenDefine13 != null">#{cVenDefine13},</if>
            <if test="cVenDefine14 != null">#{cVenDefine14},</if>
            <if test="cVenDefine15 != null">#{cVenDefine15},</if>
            <if test="cVenDefine16 != null">#{cVenDefine16},</if>
            <if test="fRegistFund != null">#{fRegistFund},</if>
            <if test="iEmployeeNum != null">#{iEmployeeNum},</if>
            <if test="iGradeABC != null">#{iGradeABC},</if>
            <if test="cMemo != null">#{cMemo},</if>
            <if test="bLicenceDate != null">#{bLicenceDate},</if>
            <if test="dLicenceSDate != null">#{dLicenceSDate},</if>
            <if test="dLicenceEDate != null">#{dLicenceEDate},</if>
            <if test="iLicenceADays != null">#{iLicenceADays},</if>
            <if test="bBusinessDate != null">#{bBusinessDate},</if>
            <if test="dBusinessSDate != null">#{dBusinessSDate},</if>
            <if test="dBusinessEDate != null">#{dBusinessEDate},</if>
            <if test="iBusinessADays != null">#{iBusinessADays},</if>
            <if test="bProxyDate != null">#{bProxyDate},</if>
            <if test="dProxySDate != null">#{dProxySDate},</if>
            <if test="dProxyEDate != null">#{dProxyEDate},</if>
            <if test="iProxyADays != null">#{iProxyADays},</if>
            <if test="bPassGMP != null">#{bPassGMP},</if>
            <if test="bVenCargo != null">#{bVenCargo},</if>
            <if test="bProxyForeign != null">#{bProxyForeign},</if>
            <if test="bVenService != null">#{bVenService},</if>
            <if test="cVenTradeCCode != null">#{cVenTradeCCode},</if>
            <if test="cVenBankCode != null">#{cVenBankCode},</if>
            <if test="cVenExch_name != null">#{cVenExch_name},</if>
            <if test="iVenGSPType != null">#{iVenGSPType},</if>
            <if test="iVenGSPAuth != null">#{iVenGSPAuth},</if>
            <if test="cVenGSPAuthNo != null">#{cVenGSPAuthNo},</if>
            <if test="cVenBusinessNo != null">#{cVenBusinessNo},</if>
            <if test="cVenLicenceNo != null">#{cVenLicenceNo},</if>
            <if test="bVenOverseas != null">#{bVenOverseas},</if>
            <if test="bVenAccPeriodMng != null">#{bVenAccPeriodMng},</if>
            <if test="cVenPUOMProtocol != null">#{cVenPUOMProtocol},</if>
            <if test="cVenOtherProtocol != null">#{cVenOtherProtocol},</if>
            <if test="cVenCountryCode != null">#{cVenCountryCode},</if>
            <if test="cVenEnName != null">#{cVenEnName},</if>
            <if test="cVenEnAddr1 != null">#{cVenEnAddr1},</if>
            <if test="cVenEnAddr2 != null">#{cVenEnAddr2},</if>
            <if test="cVenEnAddr3 != null">#{cVenEnAddr3},</if>
            <if test="cVenEnAddr4 != null">#{cVenEnAddr4},</if>
            <if test="cVenPortCode != null">#{cVenPortCode},</if>
            <if test="cVenPrimaryVen != null">#{cVenPrimaryVen},</if>
            <if test="fVenCommisionRate != null">#{fVenCommisionRate},</if>
            <if test="fVenInsueRate != null">#{fVenInsueRate},</if>
            <if test="bVenHomeBranch != null">#{bVenHomeBranch},</if>
            <if test="cVenBranchAddr != null">#{cVenBranchAddr},</if>
            <if test="cVenBranchPhone != null">#{cVenBranchPhone},</if>
            <if test="cVenBranchPerson != null">#{cVenBranchPerson},</if>
            <if test="cVenSSCode != null">#{cVenSSCode},</if>
            <if test="cOMWhCode != null">#{cOMWhCode},</if>
            <if test="cVenCMProtocol != null">#{cVenCMProtocol},</if>
            <if test="cVenIMProtocol != null">#{cVenIMProtocol},</if>
            <if test="iVenTaxRate != null">#{iVenTaxRate},</if>
            <if test="dVenCreateDatetime != null">#{dVenCreateDatetime},</if>
            <if test="cVenMnemCode != null">#{cVenMnemCode},</if>
            newid(),
            <if test="cvenbankall != null">#{cvenbankall},</if>
            <if test="DR != null">#{DR},</if>
            <if test="TS != null">#{TS},</if>
            <if test="HTDEF1 != null">#{HTDEF1},</if>
            <if test="HTDEF2 != null">#{HTDEF2},</if>
            <if test="HTDEF3 != null">#{HTDEF3},</if>
            <if test="HTDEF4 != null">#{HTDEF4},</if>
            <if test="HTDEF5 != null">#{HTDEF5},</if>
            <if test="HTDEF6 != null">#{HTDEF6},</if>
            <if test="HTDEF7 != null">#{HTDEF7},</if>
            <if test="HTDEF8 != null">#{HTDEF8},</if>
            <if test="HTDEF9 != null">#{HTDEF9},</if>
            <if test="HTDEF10 != null">#{HTDEF10},</if>
            <if test="HTDEF11 != null">#{HTDEF11},</if>
            <if test="HTDEF12 != null">#{HTDEF12},</if>
            <if test="HTDEF13 != null">#{HTDEF13},</if>
            <if test="HTDEF14 != null">#{HTDEF14},</if>
            <if test="HTDEF15 != null">#{HTDEF15},</if>
            <if test="HTDEF16 != null">#{HTDEF16},</if>
            <if test="HTDEF17 != null">#{HTDEF17},</if>
            <if test="HTDEF18 != null">#{HTDEF18},</if>
            <if test="HTDEF19 != null">#{HTDEF19},</if>
            <if test="HTDEF20 != null">#{HTDEF20},</if>
        </trim>
    </insert>

    <delete id="delete">
        delete from HT_Vendor where cVenCode = #{ids}
    </delete>

    <!--根据供应商编码查询 数据返回给页面-->
    <select id="getById" parameterType="String" resultType="VendorBasic">
        select * from HT_Vendor
        <where>
            <if test="_parameter!=null and _parameter!=''">
                cVenCode='${_parameter}'
            </if>
        </where>
    </select>

    <!--修改页面-->
    <update id="update" parameterType="VendorBasic">
        update ht_vendor
        <set>
            <if test="cVenName!=null">cVenName = #{cVenName},</if>
            <if test="cVenAbbName!=null">cVenAbbName = #{cVenAbbName},</if>
            <if test="cVCCode!=null">cVCCode = #{cVCCode},</if>
            <if test="cDCCode!=null">cDCCode = #{cDCCode},</if>
            <if test="cTrade!=null">cTrade = #{cTrade},</if>
            <if test="cVenAddress!=null">cVenAddress = #{cVenAddress},</if>
            <if test="cVenPostCode!=null">cVenPostCode = #{cVenPostCode},</if>
            <if test="cVenRegCode!=null">cVenRegCode = #{cVenRegCode},</if>
            <if test="cVenBank!=null">cVenBank = #{cVenBank},</if>
            <if test="cVenAccount!=null">cVenAccount = #{cVenAccount},</if>
            <if test="dVenDevDate!=null">dVenDevDate = #{dVenDevDate},</if>
            <if test="cVenLPerson!=null">cVenLPerson = #{cVenLPerson},</if>
            <if test="cVenPhone!=null">cVenPhone = #{cVenPhone},</if>
            <if test="cVenFax!=null">cVenFax = #{cVenFax},</if>
            <if test="cVenEmail!=null">cVenEmail = #{cVenEmail},</if>
            <if test="cVenPerson!=null">cVenPerson = #{cVenPerson},</if>
            <if test="cVenBP!=null">cVenBP = #{cVenBP},</if>
            <if test="cVenHand!=null">cVenHand = #{cVenHand},</if>
            <if test="cVenPPerson!=null">cVenPPerson = #{cVenPPerson},</if>
            <if test="iVenDisRate!=null">iVenDisRate = #{iVenDisRate},</if>
            <if test="iVenCreGrade!=null">iVenCreGrade = #{iVenCreGrade},</if>
            <if test="iVenCreLine!=null">iVenCreLine = #{iVenCreLine},</if>
            <if test="iVenCreDate!=null">iVenCreDate = #{iVenCreDate},</if>
            <if test="cVenPayCond!=null">cVenPayCond = #{cVenPayCond},</if>
            <if test="cVenIAddress!=null">cVenIAddress = #{cVenIAddress},</if>
            <if test="cVenIType!=null">cVenIType = #{cVenIType},</if>
            <if test="cVenHeadCode!=null">cVenHeadCode = #{cVenHeadCode},</if>
            <if test="cVenWhCode!=null">cVenWhCode = #{cVenWhCode},</if>
            <if test="cVenDepart!=null">cVenDepart = #{cVenDepart},</if>
            <if test="iAPMoney!=null">iAPMoney = #{iAPMoney},</if>
            <if test="dLastDate!=null">dLastDate = #{dLastDate},</if>
            <if test="iLastMoney!=null">iLastMoney = #{iLastMoney},</if>
            <if test="dLRDate!=null">dLRDate = #{dLRDate},</if>
            <if test="iLRMoney!=null">iLRMoney = #{iLRMoney},</if>
            <if test="dEndDate!=null">dEndDate = #{dEndDate},</if>
            <if test="iFrequency!=null">iFrequency = #{iFrequency},</if>
            <if test="bVenTax!=null">bVenTax = #{bVenTax},</if>
            <if test="cVenDefine1!=null">cVenDefine1 = #{cVenDefine1},</if>
            <if test="cVenDefine2!=null">cVenDefine2 = #{cVenDefine2},</if>
            <if test="cVenDefine3!=null">cVenDefine3 = #{cVenDefine3},</if>
            <if test="cCreatePerson!=null">cCreatePerson = #{cCreatePerson},</if>
            <if test="cModifyPerson!=null">cModifyPerson = #{cModifyPerson},</if>
            <if test="dModifyDate!=null">dModifyDate = #{dModifyDate},</if>
            <if test="cRelCustomer!=null">cRelCustomer = #{cRelCustomer},</if>
            <if test="iId!=null">iId = #{iId},</if>
            <if test="cBarCode!=null">cBarCode = #{cBarCode},</if>
            <if test="cVenDefine4!=null">cVenDefine4 = #{cVenDefine4},</if>
            <if test="cVenDefine5!=null">cVenDefine5 = #{cVenDefine5},</if>
            <if test="cVenDefine6!=null">cVenDefine6 = #{cVenDefine6},</if>
            <if test="cVenDefine7!=null">cVenDefine7 = #{cVenDefine7},</if>
            <if test="cVenDefine8!=null">cVenDefine8 = #{cVenDefine8},</if>
            <if test="cVenDefine9!=null">cVenDefine9 = #{cVenDefine9},</if>
            <if test="cVenDefine10!=null">cVenDefine10 = #{cVenDefine10},</if>
            <if test="cVenDefine11!=null">cVenDefine11 = #{cVenDefine11},</if>
            <if test="cVenDefine12!=null">cVenDefine12 = #{cVenDefine12},</if>
            <if test="cVenDefine13!=null">cVenDefine13 = #{cVenDefine13},</if>
            <if test="cVenDefine14!=null">cVenDefine14 = #{cVenDefine14},</if>
            <if test="cVenDefine15!=null">cVenDefine15 = #{cVenDefine15},</if>
            <if test="cVenDefine16!=null">cVenDefine16 = #{cVenDefine16},</if>
            <if test="pubufts!=null">pubufts = #{pubufts},</if>
            <if test="fRegistFund!=null">fRegistFund = #{fRegistFund},</if>
            <if test="iEmployeeNum!=null">iEmployeeNum = #{iEmployeeNum},</if>
            <if test="iGradeABC!=null">iGradeABC = #{iGradeABC},</if>
            <if test="cMemo!=null">cMemo = #{cMemo},</if>
            <if test="bLicenceDate!=null">bLicenceDate = #{bLicenceDate},</if>
            <if test="dLicenceSDate!=null">dLicenceSDate = #{dLicenceSDate},</if>
            <if test="dLicenceEDate!=null">dLicenceEDate = #{dLicenceEDate},</if>
            <if test="iLicenceADays!=null">iLicenceADays = #{iLicenceADays},</if>
            <if test="bBusinessDate!=null">bBusinessDate = #{bBusinessDate},</if>
            <if test="dBusinessSDate!=null">dBusinessSDate = #{dBusinessSDate},</if>
            <if test="dBusinessEDate!=null">dBusinessEDate = #{dBusinessEDate},</if>
            <if test="iBusinessADays!=null">iBusinessADays = #{iBusinessADays},</if>
            <if test="bProxyDate!=null">bProxyDate = #{bProxyDate},</if>
            <if test="dProxySDate!=null">dProxySDate = #{dProxySDate},</if>
            <if test="dProxyEDate!=null">dProxyEDate = #{dProxyEDate},</if>
            <if test="iProxyADays!=null">iProxyADays = #{iProxyADays},</if>
            <if test="bPassGMP!=null">bPassGMP = #{bPassGMP},</if>
            <if test="bVenCargo!=null">bVenCargo = #{bVenCargo},</if>
            <if test="bProxyForeign!=null">bProxyForeign = #{bProxyForeign},</if>
            <if test="bVenService!=null">bVenService = #{bVenService},</if>
            <if test="cVenTradeCCode!=null">cVenTradeCCode = #{cVenTradeCCode},</if>
            <if test="cVenBankCode!=null">cVenBankCode = #{cVenBankCode},</if>
            <if test="cVenExch_name!=null">cVenExch_name = #{cVenExch_name},</if>
            <if test="iVenGSPType!=null">iVenGSPType = #{iVenGSPType},</if>
            <if test="iVenGSPAuth!=null">iVenGSPAuth = #{iVenGSPAuth},</if>
            <if test="cVenGSPAuthNo!=null">cVenGSPAuthNo = #{cVenGSPAuthNo},</if>
            <if test="cVenBusinessNo!=null">cVenBusinessNo = #{cVenBusinessNo},</if>
            <if test="cVenLicenceNo!=null">cVenLicenceNo = #{cVenLicenceNo},</if>
            <if test="bVenOverseas!=null">bVenOverseas = #{bVenOverseas},</if>
            <if test="bVenAccPeriodMng!=null">bVenAccPeriodMng = #{bVenAccPeriodMng},</if>
            <if test="cVenPUOMProtocol!=null">cVenPUOMProtocol = #{cVenPUOMProtocol},</if>
            <if test="cVenOtherProtocol!=null">cVenOtherProtocol = #{cVenOtherProtocol},</if>
            <if test="cVenCountryCode!=null">cVenCountryCode = #{cVenCountryCode},</if>
            <if test="cVenEnName!=null">cVenEnName = #{cVenEnName},</if>
            <if test="cVenEnAddr1!=null">cVenEnAddr1 = #{cVenEnAddr1},</if>
            <if test="cVenEnAddr2!=null">cVenEnAddr2 = #{cVenEnAddr2},</if>
            <if test="cVenEnAddr3!=null">cVenEnAddr3 = #{cVenEnAddr3},</if>
            <if test="cVenEnAddr4!=null">cVenEnAddr4 = #{cVenEnAddr4},</if>
            <if test="cVenPortCode!=null">cVenPortCode = #{cVenPortCode},</if>
            <if test="cVenPrimaryVen!=null">cVenPrimaryVen = #{cVenPrimaryVen},</if>
            <if test="fVenCommisionRate!=null">fVenCommisionRate = #{fVenCommisionRate},</if>
            <if test="fVenInsueRate!=null">fVenInsueRate = #{fVenInsueRate},</if>
            <if test="bVenHomeBranch!=null">bVenHomeBranch = #{bVenHomeBranch},</if>
            <if test="cVenBranchAddr!=null">cVenBranchAddr = #{cVenBranchAddr},</if>
            <if test="cVenBranchPhone!=null">cVenBranchPhone = #{cVenBranchPhone},</if>
            <if test="cVenBranchPerson!=null">cVenBranchPerson = #{cVenBranchPerson},</if>
            <if test="cVenSSCode!=null">cVenSSCode = #{cVenSSCode},</if>
            <if test="cOMWhCode!=null">cOMWhCode = #{cOMWhCode},</if>
            <if test="cVenCMProtocol!=null">cVenCMProtocol = #{cVenCMProtocol},</if>
            <if test="cVenIMProtocol!=null">cVenIMProtocol = #{cVenIMProtocol},</if>
            <if test="iVenTaxRate!=null">iVenTaxRate = #{iVenTaxRate},</if>
            <if test="dVenCreateDatetime!=null">dVenCreateDatetime = #{dVenCreateDatetime},</if>
            <if test="cVenMnemCode!=null">cVenMnemCode = #{cVenMnemCode},</if>
            <if test="cVenContactCode!=null">cVenContactCode = #{cVenContactCode},</if>
            <if test="cvenbankall!=null">cvenbankall = #{cvenbankall},</if>
            <if test="DR!=null">DR = #{DR},</if>
            <if test="TS!=null">TS = #{TS},</if>
            <if test="HTDEF1!=null">HTDEF1 = #{HTDEF1},</if>
            <if test="HTDEF2!=null">HTDEF2 = #{HTDEF2},</if>
            <if test="HTDEF3!=null">HTDEF3 = #{HTDEF3},</if>
            <if test="HTDEF4!=null">HTDEF4 = #{HTDEF4},</if>
            <if test="HTDEF5!=null">HTDEF5 = #{HTDEF5},</if>
            <if test="HTDEF6!=null">HTDEF6 = #{HTDEF6},</if>
            <if test="HTDEF7!=null">HTDEF7 = #{HTDEF7},</if>
            <if test="HTDEF8!=null">HTDEF8 = #{HTDEF8},</if>
            <if test="HTDEF9!=null">HTDEF9 = #{HTDEF9},</if>
            <if test="HTDEF10!=null">HTDEF10 = #{HTDEF10},</if>
            <if test="HTDEF11!=null">HTDEF11 = #{HTDEF11},</if>
            <if test="HTDEF12!=null">HTDEF12 = #{HTDEF12},</if>
            <if test="HTDEF13!=null">HTDEF13 = #{HTDEF13},</if>
            <if test="HTDEF14!=null">HTDEF14 = #{HTDEF14},</if>
            <if test="HTDEF15!=null">HTDEF15 = #{HTDEF15},</if>
            <if test="HTDEF16!=null">HTDEF16 = #{HTDEF16},</if>
            <if test="HTDEF17!=null">HTDEF17 = #{HTDEF17},</if>
            <if test="HTDEF18!=null">HTDEF18 = #{HTDEF18},</if>
            <if test="HTDEF19!=null">HTDEF19 = #{HTDEF19},</if>
            <if test="HTDEF20!=null">HTDEF20 = #{HTDEF20},</if>
        </set>
        where cVenCode = #{cVenCode}
    </update>

    <!--供应商编码校验-->
    <select id="checkcVenCode"  resultType="int">
        select count(*) from HT_Vendor where cVenCode= #{cVenCode}
    </select>
</mapper>